html {
  font-size: 62.5%; /* 16px × 0.625 = 10px */
}


*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: /* .. */ ;
  font-style: normal;
}



.wrap {
    width: 100%;
    margin-top: 20px;
}



header {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1440px;
    height: 140px;
    margin: auto;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: auto 200px;
    box-sizing: border-box;
}

.ci {
    grid-column: 1/-1;
    grid-row: 2/-1;
    display: flex;
    justify-content: left;
    padding-bottom: 50px;
    height: 100px;
}

.search_wrap {
    grid-column: 2/-1;
    grid-row: 2/3; 
    width: 240px;
    height: 40px;
    margin-top: 46px;
    margin-left: -60px;    
 
}

.search {
    width: 240px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
   
}

input.search {
    position: absolute; 
    width: 100%;
    height: 100%;
    background: #eae8efe3;
    font-size: 16px;
    color: white;
    padding-left: 40px;
    border-radius: 20px;
    border: 3px solid #13235d;
    transition: background 0.2s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); 
}

.icon {
    position: absolute;
    left: 15px;
    margin-top: 5px;
    z-index: 100;
}

.search:hover,
.search:focus,
.search:active {
    background: #fff;
    outline: none;
}




.utility {
    grid-row: 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
    margin-left: auto;
}

.utility ul {
    display: flex;
    width: 480px; 
    font-size: 1.6rem; 
}

.utility ul li {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center; 
    list-style: none ;
}

.utility ul li a {
    text-decoration: none;
    color: #333;
}



nav {
    position: relative;
    top: auto;
    width: 100%;
    height: auto;
    z-index: 300;
    margin-top: 40px;
    font-size: 2.4em;

}



ul.gnb {
    width: 100%;
    max-width: 1440px;
    height: 40px;
    margin: auto;
    display: flex;
    background-color: #2950dd50;
    border-radius: 2.5px;
    box-shadow: 6px 6px 20px  #2950dd50;  
    font-size: 2.4rem ; 

}


ul.gnb>li {
    width: 186px;
    height: 40px;
    white-space: nowrap;
    text-align: center;
    line-height: 40px;
    list-style: none;
    position: relative;
    flex-grow: 1;
}

.dep2 {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    font-size: 2.4rem;
}

ul.gnb:hover .dep2 {
    height: 300px;
}

ul.gnb>li>a {
    text-decoration: none;
}




.dep2 {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}



.dep2 li {
    width: 100%;
    text-align: center;
    list-style: none;
    margin-top: 10px;
}

.dep2>li>a {
    color: #13235d;
    text-decoration: none;
    z-index: 500;
}



.w100 {
    position: absolute;
    top: 100%;
    left: 0;
    transform: none;
    width: 200vw;
    height: 0;
    transition: height 0.5s; 
    background-color: #2950dd50; 
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);

}


nav:hover .w100 {
    height: 300px;
    transform: translateX(-50%);
    top: 0; }

/* 메인 */ 




.banner {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 40%;
    /* 종횡비 설정 */
    overflow: hidden;
    /* 잘린 부분 감춤 */
    margin-top: 40px;
    position: relative;
    z-index: 100; 
    box-shadow: 4px 4px 20px 5px rgba(220, 228, 146, 0.5); 
}

.banner img {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    min-width: 100%;
    transform: translateX(-50%);
    object-fit: cover;
    /* 비율 유지하며 영역 가득 채우기 */
    object-position: center center; 
   
}



/* 컨텐츠 섹션 */

.contents {
    width: 100%;
    max-width: 1920px;
    margin-top: 40px;
    display: flex;
    margin: auto;
}

.conbox {
    width: 1440px;
    height: 1900px;
    /* 수정 */
    margin-top: 40px;
    margin-left: 240px ; 
  }

.content1,
.content2,
.content3 {
    width: 100%;
    max-width: 1440px;
    height: 500px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(220, 228, 146, 0.5); 
}

.con_title1,
.con_title2,
.con_title3 {
    width: 160px;
    height: 40px;
    border-radius: 0 0 25px 25px;
    margin: auto;
    background-color: #fff; 
    z-index: 100;
    text-align: center;  
    line-height: 40px; 
    box-shadow: 4px 4px 5px #777777a3; 
    font-size: 2.4rem ; 
}

.content1 {
    background-image: url(../images/conimg1_1440.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

.content2 {
    background-image: url(../images/ediyalab1440.png); 
    background-repeat: no-repeat;
    background-size: cover;
}


.content3 {
    background-image: url(../images/con31440.png); 
    background-repeat: no-repeat;
    background-size: cover;
}


.floatbox {
    position: sticky;
    top: 20px;
    margin-left: auto;
    width: 122px;
    height: 780px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    z-index: 1000;
}

.float01,
.float02,
.float03,
.float04,
.float05 {
    width: 130px;
    height: 130px;
    background: #13235d;  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 4px 4px 20px #777777b5;       
}

.floatbox a {
    color: #fff; 
    font-size: 2.4rem; 
}



/* footer  */

footer {
    width: 100%;
    background-color: #13235d;
    height: 300px;
}


