html {
    font-size: 62.5%;
    /* 16px × 0.625 = 10px */
}


* {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

/* *{
    border: 1px solid red;
} */


.wrap {
    width: 100%;     
    position: absolute ; 
} 
   


.header_wrap{
    
    background-color: white;
    width: 100%; 
    position: fixed ;  
    z-index : 2000 ;  
}





  
    

.container {
    width: 100%;
    max-width: 1440px;
    height: 140px;
    margin: auto;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: auto 200px;
    box-sizing: border-box;
}

.ci {
    grid-column: 1/-1;
    grid-row: 2/-1;
    display: flex;
    justify-content: left;
    padding-bottom: 50px;
    height: 100px;
}

.search_box{ 
     grid-column: 2/-1;
/*     grid-auto-flow: 2/-1;
 */    grid-row: 2/3;  
}




.search_wrap { 
    position: relative;   
    width: 240px;
    height: 40px;
    margin-top: 46px;
    margin-left: -60px;

}

.search {
    width: 240px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;

}

input.search {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eae8efe3;
    font-size: 16px;
    color: #666 ; 
    padding-left: 40px;
    border-radius: 20px;
    border: 3px solid #13235d;
    transition: background 0.2s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.icon {
    position: absolute;
    left: 15px;
    margin-top: 15px;
    z-index: 100;
}

.search:hover,
.search:focus,
.search:active {
    background: #fff;
    outline: none;
}




.utility {
    grid-row: 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: flex-end;
    font-size: 1.8em;
    margin-left: auto;
}

.utility ul {
    display: flex;
    width: 480px;
    font-size: 1.6rem;
}

.utility ul li {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.utility ul li a {
    text-decoration: none;
    color: #666666;
    font-size: 1.6rem;
}



nav {
    position: relative;
    top: auto;
    width: 100%;
    height: auto;
    z-index: 300;
    margin-top: 40px;

}



ul.gnb {
    width: 100%;
    max-width: 1440px;
    height: 40px;
    margin: auto;
    display: flex;
    background-color: #2950dd50;
    border-radius: 2.5px;
    box-shadow: 6px 6px 20px #2950dd50;
    font-size: 2.4rem;
    font-weight: 500;

}


ul.gnb>li {
    width: 186px;
    height: 40px;
    white-space: nowrap;
    text-align: center;
    line-height: 40px;
    list-style: none;
    position: relative;
    flex-grow: 1;
    font-weight: 500;
}

.dep2 {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    font-size: 2.0rem;
    font-weight: 500;
}

ul.gnb:hover .dep2 {
    height: 300px;
}

ul.gnb>li>a {
    color: #333;
    text-decoration: none;  
} 

ul.gnb>li>a:hover {
      text-decoration: underline 3px ; 
}

.dep2 {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}



.dep2 li {
    width: 100%;
    text-align: center;
    list-style: none;
    margin-top: 10px;
}

.dep2>li>a {
    color: #333 ; 
    text-decoration: none;
    z-index: 500;
}



.w100 {
    position: absolute;
    top: 100%;
    left: 0;
    transform: none;
    width: 200vw;
    height: 0;
    transition: height 0.5s;
    background-color: #fbfafa;
    box-shadow: inset 6px -6px 2px rgba(200, 207, 154, 0.2), inset -6px -7px 2px rgba(200, 207, 154, 0.2)
        /* 호버 이전 */
}


nav:hover .w100 {
    height: 350px;
    transform: translateX(-50%);
    top: 0;
    /* 호버 이후 */ 
}

/* 메인 */





    .banner {
    position: relative ; 
    width: 100%;
    height: 0;
    padding-top: 40%;
   /*  종횡비 설정  */  
     overflow: hidden; 
     /* 잘린 부분 감춤 */
     margin-top: 340px; }



     .banner img {
    position: absolute ; 
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    min-width: 100%;
    transform: translateX(-50%);
    object-fit: cover;
    /* 비율 유지하며 영역 가득 채우기 */
    object-position: center center; }   



    .arrow{
        position: absolute ; 
        width: 300px ; 
        height: auto ; 
        left : 1700px ;  
        top : 650px ; 
    }

    .arrow img {
        width : 100% ; 
        height: auto ; 
        display : block ; 
        z-index : 1000 ; 
    }
 
 
.icon_event {  
  position: absolute ;    
  width : 250px;  
  height : auto ;  
  left : 2100px ; 
  top : 120px ;     
}


.icon_event img{   
    width: 100% ;      
    height: auto ; 
    display : block ;    
    }






/* 컨텐츠 섹션 */ 

.bigbox{
    width: 100% ; 
    max-width: 1800px ;   
    margin: auto ; 
    display : flex ; 
    position: relative ; 
}

.iconbox{
  position: sticky ; 
  top: 100px ; 
  height : 500px ;    
  padding-top: 120px ; 
}

.menu_icon{  
  width : 200px;  
  height : 200px ;  
  left : 0;   
  padding : 0 ;  
}

.menu_icon img{
    width: 100% ;      
    height: auto ;     
 }

.chatube{
  position: sticky ;    
  width : 200px;  
  height : 200px ;  
  margin-top: 20px ; 
  padding-top: 40px ; 
  right : 0 ;   
} 

.chatube img{   
    width: 100% ;      
    height: auto ; 
    display : block ;        
    }


.contents {
    width: 100%;
    max-width: 1340px;    
    height: auto ; 
    margin-top: 40px;
    display: flex;
    margin: auto;  
}



.conbox {
    width: 1000px;
    height: 1840px ;
    margin-top: 40px;    
}

.content1,
.content2,
.content3 {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: -5px 2px rgb(222, 222, 132), 0px 5px 2px rgb(202, 202, 99);
    position: relative;
}



.more1,
.more2,
.more3 {
    position: absolute;
    width: 800px;
    height: 0;
    background: rgba(232, 230, 189, 0.425);
    border-radius: 10px;
    /*  border: 1px solid red ;    */
    margin: auto;
    margin-left: 40px;
    margin-top: 0 ; 
    opacity: 0;
    transition: height 0.5s ease-in-out ; 
    font-size: 36px;
    color: rgb(45, 40, 40) ; 
    font-weight: 400;
    padding: 60px;
    text-align: justify;
    line-height : 2.88em ;

}

.content1:hover .more1 {
    opacity: 1;
    height: 380px;
}

.content2:hover .more2 {
    opacity: 1;
    height: 380px;
}

.content3:hover .more3 {
    opacity: 1;
    height: 380px;
}


.con_title1,
.con_title2,
.con_title3 {
    width: 200px;
    height: 45px;
    border-radius: 0 0 25px 25px;
    margin: auto;
    background-color: #13235d;
    text-align: center;
    line-height: 40px;
    box-shadow: 4px 4px 5px #777777a3, -4px 4px 5px #777777a3;
    font-size: 2.4rem;
    font-weight: 500;
    color: #eaf107;   
}

.con_title_b {
    width: 200px;
    height: 45px;
    border-radius: 25px 25px 0 0;
    margin: auto;
    margin-top: 410px;
    background-color: #13235d;
    /* z-index: 100; */
    text-align: center;
    line-height: 40px;
    box-shadow: 4px -4px 5px #777777a3, -4px -4px 5px #777777a3;
    font-size: 2.4rem;
    font-weight: 500;
}

.con_title_b a {
    text-decoration: underline;
    color: #eaf107;   
}


.content1 {
    background-image: url(../images/conimg1_1440.png);
    background-repeat: no-repeat;
    background-size: cover;
}




.content2 {
    background-image: url(../images/ediyalab1440.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.content3 {
    background-image: url(../images/con31440.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.floatbox {
    position: sticky;
    top: 100px;
    margin-left: auto;
    width: 122px;
    height: 580px;
    display: flex;
    flex-wrap: wrap;     
    padding-top: 120px;  
}

.float01,
.float02,
.float03
{
    width: 120px;
    height: 120px;
    background: #13235d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 15px #77777741,
        -4px -4px 15px lab(50.03% 0 -0.01 / 0.506);
    flex-wrap: wrap;
}

.floatbox a {
    font-size: 2.4rem;
    color: #eaf107;
    font-weight: 600;
}



/* footer  */

footer{
    width: 100% ; 
    height: 320px ; 
    background-color: #483d3d; 
} 

.foot{
    width: 100% ; 
    max-width: 1200px;  
    height: 280px ; 
    margin: auto;  
    display: grid ;  
    grid-template-rows: 40px 240px ;
    grid-template-columns: 1000px 200px ;      
}

.foot > ul { 
    grid-row : 1/2 ; 
    grid-column : 1/2 ; 
    display : flex ;   
    font-size : 16px ; 
    margin-top: 20px;
    margin: auto ;      
    padding : 10px ;  
    align-items: center;
}

.foot > ul > li {
     font-size : 16px ; 
     padding: 10px ;  
     color : white ;   
     align-items: center;     
     line-height: 40px ;
}

.language{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 150px ;   
    height: 20px ;      
    margin-top: 30px;     
}

.present{
    grid-row : 2/3 ; 
    grid-column : 1/2 ; 
    font-size : 16px ; 
    margin-top : 20px ;     
    box-sizing: border-box ; 
    text-align : center ;  
    color: white ;        
}

.present p{
    line-height: 40px ; 
}
.present img {
    padding : 20px ; 
    width : 300px ; 
    height: 40px ; 
} 

.consumer{
    grid-row: 2/3;
    grid-column: 2/3; 
    width : 200px ; 
    height : 200px ; 
} 

.consumer img {
    width : 100% ; 
}