* {
    font-family: 'Noto Sans KR', 'Noto Sans SC', '나눔고딕', NanumGothic, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
}

.wrap {
    width: 100%;
    margin-top: 40px;
}



header {
    width: 100%;
    /*     background-color: mediumslateblue;  
 */
    height: auto;


}

.container {
    width: 100%;
    max-width: 1180px;
    /*     background-color: aquamarine; 
 */
    height: 180px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 40px auto;

}


.ci {
    grid-column: 1/2;
    grid-row: 2/-1; 
    width: 200px; 
    height: 140px ;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid red;
    align-items: center;
    margin: 0 auto;
}

.utility {
    /* 472px */
    grid-row: 1;
    grid-column: 2/3;
    /*     background-color: yellow;   
 */

}

.utility ul {
    display: flex;
}

.utility ul li {
    width: 110px;
    height: 40px;
    border: solid 1px red;
    text-align: cenrter;
    box-sizing: border-box;
    color: #13235d;
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    font-weight: 4em;
}

.utility ul li a {
    text-decoration: none;
}

.search {
    width: 156px;
    border: solid 1px red;
    box-sizing: border-box;
    color: #13235d;
    line-height: 40px;
    text-align: left;
}

nav {
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 100;
    margin-top: 20px;

    /*     background-color: aqua;    

 */
}

ul.gnb {
    width: 100%;
    max-width: 1180px;
    height: 40px;
    margin: 0 auto;
    display: flex;

}

.gnb>li {
    width: 18%;
    height: 40px;
    /*       background-color: #13235d;
 */
    white-space: nowrap;
    text-align: center;
    line-height: 40px;
    list-style: none;
    position: relative;
}

.gnb>li a {
    color: #13235d;
    text-decoration: none;
    font-size: 1.5em;
}

.dep2 {
    background-color: #fff;
    position: relative;
    height: 0;
    overflow: hidden;
    z-index: 555;
    transition: height 0.5s;

}

.dep2 li {
    width: 100%;
    text-align: center;
    list-style: none;
}

.dep2 li a {
    color: #13235d;
}

.gnb:hover .dep2 {
    height: 200px;
}


.nav:hover .w100 {
    height: 300px;
}

.w100 {
    transition: height 0.5s;
    background-color: rgba(194, 50, 129, 0.432);
    height: 0;
    width: 100%;
    position: absolute;
    top: 50px;

}

/* 메인 */

main {
    width: 100%;
    height: auto;
}


.banner {
    width: 100%;
    height: 620px;
    background-color: yellow;
    border: 1px solid red;
    margin: auto;
    margin-top: 40px;
}

.banner {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/* 컨텐츠 섹션 */

.contents {
    width: 100%;
    max-width: 1180px;
    /*  background-color: aquamarine;   */
    /* 배경 삽입 후 삭제 */
    margin: auto;
    margin-top: 40px;
    border: 1px solid red;
    background-color: aqua;
}

.content1 {
    position: relative;
    width: 100%;
    max-width: 1180px;
    height: 600px;
    box-sizing: border-box;
    /*     background: blue ;        
 */
    margin: auto;
}

.content1 {
    background-image: url(../images/coffeelab.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.content_title1 {
    width: 220px;
    height: 40px;
    background: rgb(136, 255, 0);
    position: relative;
    left: 50%;
    transform: translate(-100px, 0);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2em;
}

.des_box1 {
    width: 560px;
    height: 560px;
    /*  background-color: yellow;
 */
    padding: 60px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #13235d;
}

.contents button {
    width: 196px;
    height: 40px;
    background-color: aqua;
    color: black;
    position: absolute;
    right: 60px;
    bottom: 40px;
    font-size: 2em;
}

p {
    color: white;
}

.t1 p {
    text-align: left;
    font-size: 2em;
    margin-bottom: 40px;
}

.t2 p {
    text-align: justify;
    font-size: 2em;
}

.content2 {
    width: 1180px;
    height: 600px;
    position: relative;
    /*     background: rgb(0, 255, 76);
 */
    box-sizing: border-box;
    margin: auto;

}

.content2 {
    background-image: url(../images/coffeelab.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 40px;
}

.content_title2 {
    width: 200px;
    height: 40px;
    background: rgb(136, 255, 0);
    position: relative;
    left: 50%;
    transform: translate(-100px, 0);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2em;
}


.des_box2 {
    width: 560px;
    height: 560px;
    /*  background-color: yellow;
 */
    padding: 60px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #13235d;

}

.t3 p {
    text-align: left;
    font-size: 2em;
    margin-bottom: 40px;
}

.t4 p {
    text-align: justify;
    font-size: 2em;
}

/* footer  */



.content3 {
    width: 100%;
    max-width: 1180px;
    height: 600px;
    position: relative;
    box-sizing: border-box;
    /*     background: blue ;       
 */
    margin-bottom: 40px;
    margin: auto;
}

.content3 {
    background-image: url(../images/coffeelab.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 40px;

}

.content_title3 {
    width: 220px;
    height: 40px;
    background: rgb(136, 255, 0);
    position: relative;
    left: 50%;
    transform: translate(-100px, 0);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2em;
}

.des_box3 {
    width: 560px;
    height: 560px;
    /*  background-color: yellow;
 */
    padding: 60px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #13235d;
}

.t5 p {
    text-align: left;
    font-size: 2em;
    margin-bottom: 40px;
}

.t6 p {
    text-align: justify;
    font-size: 2em;
}


footer {
    width: 100%;
    background-color: #13235d;
    height: 300px;
}